{{!-- <div class="table-responsive"  class="centered-element">
    <table class="table">
        <tr>
            <th class="font-weight-bold" style="text-align: center; font-size:medium; color:whitesmoke; valign: middle">Nombre</th>
            <th class="font-weight-bold" style="text-align: center; font-size:medium; color:whitesmoke">Precio</th>
            <th class="font-weight-bold" style="text-align: center; font-size:medium; color:whitesmoke">Imagen</th>
        </tr>
        {{#each products}}
        <tr>
            <td class="font-weight-bold" style="text-align: left; font-size:medium; color:whitesmoke">{{this.title}}</td>
            <td class="font-weight-bold" style="text-align: center; font-size:medium; color:whitesmoke">{{this.price}} usd</td>
            <td style="text-align: center"><img style="width: 15%; background-color: whitesmoke" src={{this.thumbnail}} alt={{this.id}}  align="middle"></td>
        </tr>
        {{/each}}
    </table>
</div> --}}